@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    @import url("https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:wght@300;400;500;600;700&display=swap");

    html {
        scroll-behavior: smooth;
    }

    .font-be-vietnam {
        /* font-family: AirbnbCereal; */
        font-family: "Be Vietnam Pro", sans-serif;
    }

    .content-3-2 .caption {
        color: #565656;
    }

    .content-3-5 .input {
        border: 1px solid #cacbce;
        color: #2a3240;
        transition: 0.3s;
    }

    .content-3-5 .input:focus-within {
        border: 1px solid #2ec49c;
        color: #2a3240;
        transition: 0.3s;
    }

    .content-3-5 .input input::placeholder {
        transition: 0.3s;
    }

    .content-3-5 .input:focus-within input::placeholder {
        outline: none;
        transition: 0.3s;
    }

    .content-3-5 .centered {
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
    }

    .content-3-5 .width-left {
        width: 0%;
    }

    .content-3-5 .width-right {
        width: 100%;
    }

    .content-3-5 .forgot-password {
        color: #cacbce;
        transition: 0.3s;
    }

    .content-3-5 .forgot-password:hover {
        color: #2a3240;
    }

    .content-3-5 .btn-fill {
        background-image: linear-gradient(rgba(91, 203, 173, 1),
                rgba(39, 194, 153, 1));
    }

    .content-3-5 .btn-fill:hover {
        background-image: linear-gradient(#2ec49c, #2ec49c);
    }

    .content-3-5 .caption {
        color: #a8adb7;
    }

    .content-3-5 .text-label {
        color: #39465b;
    }

    .content-3-5 .text-foot {
        color: #2a3240;
    }

    .content-3-5 .text-link {
        color: #2ec49c;
    }

    .shadow-sblue {
        box-shadow: 0px 24px 32px rgba(15, 82, 186, 0.4);
    }

    .shadow-cardShadow {
        box-shadow: 12px 24px 80px rgba(15, 82, 186, 0.06);
    }

    .hide-scroll::-webkit-scrollbar {
        display: none;
    }

    /* Slides */
    .slides {
        font-family: Arial;
        width: 500px;
        display: block;
        margin: 0 auto;
    }

    .action {
        display: block;
        margin: 100px auto;
        width: 100%;
        text-align: center;
    }

    .action a {
        display: inline-block;
        padding: 5px 10px;
        background: #f30;
        color: #fff;
        text-decoration: none;
    }

    .action a:hover {
        background: #000;
    }
}